  <footer>
      <p>
        Made by Ralf Zonneveld &copy; 2021 - All rights reserved |
        <a href="https://github.com/ralfz123/real-time-web-2021" target="_blank"
          >GitHub link</a
        >
      </p>
    </footer>
    <script src="/js/index.js" type="module"></script>
  </body>
</html>