<header>
  <h1>Cooking on Remote</h1>

  <div class="msgContainerRecipeLimitAll">
    <p></p>
    <button type="submit">Okay, I wait till the user chooses</button>
  </div>

  <div class="msgContainerRecipeLimitUser">
    <p></p>
    <form>
      <ol></ol>
      <button type="submit">Choose</button>
    </form>
  </div>
</header>
