<%- include ('./partials/head', {title: 'Home'}) %>

<body>
  <%- include ('./partials/header') %>

  <p>Copy this room ID and share it with someone else: <span><%- id%></span></p>
  <button class="copyIdBtn">Copy room ID</button>
  <main>
    <section id="chat-query">
      <article>
        <form id="ingredientsForm">
          <label for="query-ingredient">My main ingredient is</label>
          <input
            type="text"
            id="query-ingredient"
            placeholder="e.x. Cheese"
            title="Fill in an ingredient"
            required
          />
          <button type="submit">Search</button>
          <p id="ingredients"></p>
        </form>
      </article>

      <article>
        <h3>Chat</h3>
        <p>What shall we eat?</p>
        <form id="chatForm">
          <label for="name">Firstname</label>
          <input type="text" id="name" placeholder="loginName" required />

          <ol id="messages"></ol>
          <label for="message">Message</label>
          <input
            type="text"
            id="message"
            placeholder="Pasta, right?"
            title="Type here your message"
          />
          <button type="submit"></button>
        </form>
      </article>
    </section>

    <section id="recipes">
      <h2>Recipes</h2>
      <ol>
        <p>Find recipes by entering a ingredient in the input field.</p>
        <div class="loader"></div>
      </ol>
      <form method="GET" enctype="application/x-www-form-urlencoded">
        <label for="chosen-recipe">One person has to chose a recipe(id):</label>
        <input
          type="number"
          id="chosen-recipe"
          value="52779"
          title="Fill in the ID of the recipe"
          name="recipeID"
          required
        />
        <button type="submit">Choose!</button>
      </form>
    </section>
  </main>

  <%- include ('./partials/footer') %>
</body>
