<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('./partials/head') %>
  </head>

  <body>
    <%- include ('./partials/header') %>

    <main>
      <section id="chat-query">
        <article>
          <h2>Ingredients</h2>
          <form id="ingredientsForm">
            <label for="query-ingredient"
              >My main ingredient I want recipes of is</label
            >
            <input
              type="text"
              id="query-ingredient"
              placeholder="e.x. Cheese"
              required
            />
            <ul id="ingredients"></ul>
            <button type="submit">Search</button>
          </form>
        </article>

        <article>
          <h3>Chat</h3>
          <p>Discuss here the recipes</p>
          <form id="chatForm">
            <label for="name">Firstname</label>
            <input type="text" id="name" placeholder="John Doe" required />

            <ol id="messages"></ol>
            <input
              type="text"
              id="message"
              placeholder="Shall we do the pasta?"
            />
            <button type="submit">Send</button>
          </form>
        </article>
      </section>

      <section id="recipes">
        <h2>Recipes</h2>
        <ol>
          <p>Find recipes by entering a ingredient in the input field.</p>
        </ol>
        <form action="/match">
          <label for="chosen-recipe">Chosen recipe:</label>
          <input type="text" id="chosen-recipe" placeholder="ex French Onion Soup" />
          <button>
            Choose!
          </button>
        </form>
      </section>
    </main>

    <%- include ('./partials/footer') %>
  </body>
</html>
