<%- include ('./partials/head', {title: 'Home'}) %>

<body>
  <%- include ('./partials/header') %>

  <main>
    <section>
      <form>
        <legend>
          <label for="nickname">Your fancy nickname is </label>
          <input
            type="text"
            name="nickname"
            id="nickname"
            required
            title="Fill in your nickname"
          />

          <p>You are joining room</p>
          <input
            type="radio"
            name="room"
            value="room1"
            id="room1"
            data-id="1"
            data-id="1"
          />
          <label for="room1">room 1 </label>

          <input
            type="radio"
            name="room"
            value="room2"
            id="room2"
            data-id="2"
          />
          <label for="room2">room 2 </label>

          <input
            type="radio"
            name="room"
            value="room3"
            id="room3"
            data-id="3"
          />
          <label for="room3">room 3 </label>

          <input
            type="radio"
            name="room"
            value="room4"
            id="room4"
            data-id="4"
          />
          <label for="room4">room 4 </label>

          <input
            type="radio"
            name="room"
            value="room5"
            id="room5"
            data-id="5"
          />
          <label for="room5">room 5 </label>

          <input
            type="radio"
            name="room"
            value="room6"
            id="room6"
            data-id="6"
          />
          <label for="room6">room 6 </label>

          <input
            type="radio"
            name="room"
            value="room7"
            id="room7"
            data-id="7"
          />
          <label for="room7">room 7 </label>

          <input
            type="radio"
            name="room"
            value="room8"
            id="room8"
            data-id="8"
          />
          <label for="room8">room 8 </label>

          <input
            type="radio"
            name="room"
            value="room9"
            id="room9"
            data-id="9"
          />
          <label for="room9">room 9 </label>

          <input
            type="radio"
            name="room"
            value="room10"
            id="room10"
            data-id="10"
          />
          <label for="room10">room 10 </label>

          <button type="submit">Join Room</button>
        </legend>
      </form>
    </section>

    <section id="chat-query">
      <article>
        <form id="ingredientsForm">
          <label for="query-ingredient">My main ingredient is</label>
          <input
            type="text"
            id="query-ingredient"
            placeholder="e.x. Cheese"
            title="Fill in an ingredient"
            required
          />
          <button type="submit">Search</button>
        </form>
      </article>

      <article>
        <h3>Chat</h3>
        <p>What shall we eat?</p>
        <form id="chatForm">
          <ol id="messages"></ol>
          <label for="message">Message</label>
          <input
            type="text"
            id="message"
            placeholder="Pasta, right?"
            title="Type here your message"
          />
          <button type="submit">Send</button>
        </form>
        <ul class="users"></ul>
        <div class="likedRecipes">
          <h3>Liked Recipes</h3>
          <ul></ul>
        </div>
      </article>
    </section>

    <section id="recipes">
      <h2>Recipes</h2>
      <form>
        <ol>
          <p>Find recipes by entering a ingredient in the input field.</p>
          <div class="loader"></div>
        </ol>
        <button type="submit">Add +</button>
      </form>
    </section>

    <section id="won-recipe">
      <p>Chosen by: <span></span></p>
      <p></p>
      <h2>Won recipe: <span></span></h2>
      <h3>Ingredients</h3>
      <form>
        <ul></ul>
      </form>
      <img />      
      <h3>Instruction manual</h3>
      <form>
        <ol></ol>
      </form>
      
    </section>
  </main>

  <%- include ('./partials/footer') %>
</body>
