<%- include ('../partials/head', { title: 'Login'}) %>

<body>
  <%- include ('../partials/header') %>
  <h2>Login</h2>
  <main id="login">
    <form action="/login" method="POST">
      <label for="name"
        >Naam
        <input type="text" id="name" name="name" placeholder="John" required
      /></label>

      <label for="password"
        >Password
        <input
          type="password"
          id="password"
          name="password"
          pattern=".{6,}"
          title="Six or more charachters"
          placeholder="Six or more characters"
          required
      /></label>

      <button type="submit">Login</button>
    </form>

    <a href="/register">Register</a>
  </main>

  <%- include ('../partials/footer') %>
</body>
