<%- include ('../partials/head', { title: 'Login'}) %>

<body>
  <%- include ('../partials/header') %>
  <h2>Login</h2>
  <main id="login">
    <form action="/" method="POST">
      <label for="name"
        >Name
        <input type="text" id="name" name="name" placeholder="John" required
      /></label>

      <button type="submit">Login</button>
    </form>
  </main>

  <%- include ('../partials/footer') %>
</body>
