<%- include ('../partials/head', { title: 'Register'}) %>

<body>
  <%- include ('../partials/header') %>
  <h2>Register</h2>
  <main id="register">
    <form action="/register" method="POST">
      <label for="name"
        >Naam
        <input type="text" id="name" name="name" placeholder="John" required
      /></label>

      <label for="password"
        >Password
        <input
          type="password"
          id="password"
          name="password"
          pattern=".{6,}"
          title="Six or more charachters"
          placeholder="Six or more characters"
          required
      /></label>

      <button type="submit">Register</button>
    </form>
  </main>

  <%- include ('../partials/footer') %>
