<%- include ('../partials/head', { title: 'Register'}) %>

<body>
  <%- include ('../partials/header') %>
  <h2>Register</h2>
  <main id="register">
    <form action="/register" method="POST">
      <label for="name">name</label>
      <input type="text" id="name" name="name" placeholder="John" required />

      <!-- <label for="password">password</label>
      <input
        type="password"
        id="password"
        name="password"
        pattern=".{6,}"
        title="Six or more charachters"
        placeholder="Six or more characters"
        required
      /> -->

      <button type="submit">login</button>
    </form>
  </main>

  <%- include ('../partials/footer') %>
